/** Global **/

* {
	margin: 0;
	auto: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	text
	text-align: center;
}

header {
	width: 100%;
	text-align: center;
	padding: 50px 0;
}

header h1 {
	font-size: 40px;
	font-weight: lighter;
	font-family: monospace;
	letter-spacing: .8em;
	text-transform: uppercase;
}

/** Form Styling **/

form {
	width: 80%;
	margin: 0 auto;
	border: solid 1px black;
	padding: 2% 5%;
	/*text-align: center;*/
}

.meat-selection-div {
	text-align: center;
	margin: 5% 0 10%;
}

.meat-selection-div h3 {
	font-family: monospace;
	font-weight: lighter;
	margin-bottom: 20px;
}

.meat-selection-div, .preference-selection-div {
	width: 100%;
	/*background: red;*/
	padding: 10px 0;
}

.preference-selection-div label:nth-of-type(2) {
	margin: 0 10px 0 10px;
}

.preference-selection-div {
	padding: 0 10%;
}

.preference-selection-div label {
	padding: 10px 20px;
	border: solid 1px black;
	font-size: 1.2rem;
}

#beefy {
	background: white;
	width: 20%;
	/*padding: 10px;*/
	display: inline-block;
	text-align: center;
	height: 20%;
	box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.50);
	margin: 0 20px;
}

#beefy object {
	display: block;
	width: 50%;
	margin: 0 auto;
}

#beefy label {
	width: 100%;
	margin: 0 auto;
	display: block;
	height: 100%
}
#beefy label .meatSelect {
	background: green;
}

input[type=radio] {
	display: none;
}

#well-done:checked + label {
	color: blue;
}

input[type=number] {
	width: 20%;
	padding: 10px;
}

input[type=submit] {
	width: 40%;
	padding: 10px;
	background: green;
}

label:hover {
	background: red;
	color: white;
}

/************************************
	These classes are added 
	using Angular's ng-class directive
*************************************/

.meatSelect {
	border-bottom: solid 4px red;
}

.preferenceSelect {
	color: blue;
}
