/** Global **/

* {
	margin: 0;
	auto: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	text
	text-align: center;
}

/** Form Styling **/

form {
	width: 50%;
	margin: 0 auto;
	border: solid 1px black;
	padding: 2% 5%;
	text-align: center;
}

input[type='radio'] {
	display: none;
}

input[type='number'] {
	width: 20%;
	padding: 10px;
}

input[type='submit'] {
	width: 40%;
	padding: 100px;
}

label {
	display: inline-block;
	font-size: 25px;
	padding: 10px 20px;
	border: solid 1px black;
	margin-bottom: 10px;
}

label:hover {
	background: red;
	color: white;
}

/************************************
	These classes are added 
	using Angular's ng-class directive
*************************************/

.meatSelect {
	color: red;
}

.preferenceSelect {
	color: blue;
}
