<form ng-submit="meatCtrl.makeRequest()">
	<!-- Select Meat Type -->
	<div class="meat-selection-div">
		<div id="beefy">
			<input ng-model="meatCtrl.meat" value="beef" name="meat" id="beef" type="radio">
			<label ng-class="{meatSelect:meatCtrl.meat === 'beef'}" for="beef"><object type="image/svg+xml" data="../assets/icons/beef.svg">Your browser does not support SVG</object>beef</label>
		</div>
		<div id="beefy">
			<input ng-model="meatCtrl.meat" value="pork" name="meat" id="pork" type="radio">
			<label ng-class="{meatSelect:meatCtrl.meat === 'pork'}" for="pork"><object for="pork" type="image/svg+xml" data="../assets/icons/pork.svg">Your browser does not support SVG</object>pork</label>
		</div>
		<div id="beefy">
			<input ng-model="meatCtrl.meat" value="lamb" name="meat" id="lamb" type="radio">
			<label ng-class="{meatSelect:meatCtrl.meat === 'lamb'}" for="lamb"><object type="image/svg+xml" data="../assets/icons/lamb.svg">Your browser does not support SVG</object>lamb</label>
		</div>
		<div id="beefy">
			<input ng-model="meatCtrl.meat" value="chicken" name="meat" id="chicken" type="radio">
			<label ng-class="{meatSelect:meatCtrl.meat === 'chicken'}" for="chicken"><object type="image/svg+xml" data="../assets/icons/chicken.svg">Your browser does not support SVG</object>chicken</label>
		</div>
	</div>
	<!-- Select Cooking Preference Type -->
	<div class="preference-selection-div">
		<input ng-model="meatCtrl.preference" value="rare" name="preference" id="rare" type="radio">
		<label ng-class="{preferenceSelect:meatCtrl.preference === 'rare'}" for="rare">rare</label>
		<input ng-model="meatCtrl.preference" value="medium" name="preference" id="medium" type="radio">
		<label ng-class="{preferenceSelect:meatCtrl.preference === 'medium'}" for="medium">medium</label>
		<input ng-model="meatCtrl.preference" value="well-done" name="preference" id="well-done" type="radio">
		<label ng-class="{preferenceSelect:meatCtrl.preference === 'well-done'}" for="well-done">well done</label>
		<input ng-model="meatCtrl.guestNum" type="number" min=0 max=20>
	</div>
	<!-- Select Number of Guests -->

	<input type="submit">
</form>
